@charset "UTF-8";
/*-------------------------------------------------------------------------------------*/
/*BLEED OUT WEBPAGE*/
/*-------------------------------------------------------------------------------------*/
body{
	margin: 0;
	padding: 0;
	background: #000000;
}
/*-------------------------------------------------------------------------------------*/
/*CHELSEA GRIN LOGO*/
/*-------------------------------------------------------------------------------------*/
.cg-logo-wrapper{
	background: black;
}

.cg-logo{
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*-------------------------------------------------------------------------------------*/
/*NAVIGATION BAR*/
/*-------------------------------------------------------------------------------------*/
header nav ul{
	padding: 0;
	margin: 0;
}

header nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px 0;
}

header nav ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	padding: 20px;
}

header nav ul li a:hover{
	background: #fff;
	color: #000000;
}
/*-------------------------------------------------------------------------------------*/
/*SLIDESHOW*/
/*-------------------------------------------------------------------------------------*/
.slider-wrapper{
	height: 1000px;
	overflow: visible;
	position: relative;
}

slider{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000000;
	overflow: hidden;
	position: absolute;
}

slider > *{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
}

slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background-image: url(Images/Slideshow/1.jpg);
	background-size: cover;
	background-position: center;
}

slide:nth-child(2){
	animation-delay: 2s;
	background-image: url(Images/Slideshow/2.jpg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(3){
	animation-delay: 5s;
	background-image: url(Images/Slideshow/3.jpg);
	background-size: cover;
	background-position: center;
}
slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background-image: url(Images/Slideshow/4.jpg);
	background-size: cover;
	background-position: center;
}

slide p{
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 340px;
	color: #fff; 
}

@keyframes slide{
	0%{ left: 100%; width: 100%;}
	5%{ left: 0%; }
	25%{ left: 0%;}
	30%{ left: -100%; width: 100%;}
	30.0001%{ left: -100%; width: 0%;}
	100%{ left: 100%; width: 0%;}
}

/*-------------------------------------------------------------------------------------*/
/*DESCRIPTION*/
/*-------------------------------------------------------------------------------------*/
.desc{
	display: block;
	padding: 0 8%;
}

.desc-title{
	color: white;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 80px;
}

.img-wrapper.left-img{
	display: grid;
	grid-template-columns: repeat(5 , 1fr);
	grid-auto-rows: minmax(100px , auto);
}

.img-wrapper.right-img{
	display: grid;
	grid-template-columns: repeat(5 , 1fr);
	grid-auto-rows: minmax(100px , auto);
}

.img-wrapper.left-img h1{
	grid-column: 1 / 6;
	grid-row: 1 / 2;
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	color: rgb(146, 132, 50);
	text-align: center;
}

.img-wrapper.right-img h1{
	grid-column: 1 / 6;
	grid-row: 1 / 2;
	font-size: 40px;
	font-family: 'Permanent Marker', cursive;
	color: rgb(146, 132, 50);
	text-align: center;
}

.img-wrapper.left-img img{
	height: 300px;
	width: 300px;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.img-wrapper.right-img img{
	height: 300px;
	width: 300px;
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}

.img-wrapper.left-img p{
	grid-column: 3 / 6;
	color: white;
	font-size: 30px;
}

.img-wrapper.right-img p{
	grid-column: 1 / 3;
	color: white;
	font-size: 30px;
}
/*-------------------------------------------------------------------------------------*/
/*RESPONSIVE*/
/*-------------------------------------------------------------------------------------*/
@media screen and (max-width: 1000px){
.desc{
	  display: block;
	  padding: 0 8%;
}
  
.desc-title{
	  color: white;
	  text-align: center;
	  font-family: 'Permanent Marker', cursive;
	  font-size: 50px;
}
  
.img-wrapper.left-img{
	  display: grid;
	  grid-template-columns: repeat(5 , 1fr);
	  grid-auto-rows: minmax(100px , auto);
}
  
.img-wrapper.right-img{
	  display: grid;
	  grid-template-columns: repeat(5 , 1fr);
	  grid-auto-rows: minmax(100px , auto);
}
  
.img-wrapper.left-img h1{
	  grid-column: 1 / 6;
	  grid-row: 1 / 2;
	  font-size: 30px;
	  font-family: 'Permanent Marker', cursive;
	  color: rgb(146, 132, 50);
	  text-align: center;
}
  
.img-wrapper.right-img h1{
	  grid-column: 1 / 6;
	  grid-row: 1 / 2;
	  font-size: 30px;
	  font-family: 'Permanent Marker', cursive;
	  color: rgb(146, 132, 50);
	  text-align: center;
}
  
.img-wrapper.left-img img{
	  height: 100%;
	  width: 100%;
	  grid-column: 1 / 6;
	  grid-row: 2 / 3;
}
  
.img-wrapper.right-img img{
	  height: 100%;
	  width: 100%;
	  grid-column: 1 / 6;
	  grid-row: 2 / 3;
}
  
.img-wrapper.left-img p{
	  grid-column: 1 / 6;
	  color: white;
	  font-size: 30px;
	  text-align: center;
}
  
.img-wrapper.right-img p{
	  grid-column: 1 / 6;
	  color: white;
	  font-size: 30px;
	  text-align: center;
}
	  
}

@media screen and (max-width: 480px){

	logo{
		padding-bottom: 0px;
	}
	
	.burger-nav{
		border: 0.01px solid white;
		display: block;
		height: 50px;
		width: 100%;
		background: transparent url(Images/burger.png) no-repeat 98% center;
		cursor: pointer;
	}
	
	header nav ul{
		overflow: hidden;
		height: 0;
	}
	
	header nav ul.open{
		height: auto;
	}

	header nav ul li{
		background: transparent;
		float: left;
		display: block;
		width: 100%;
		border-bottom: 0.01px solid grey;
		text-align: left;
	
	}
	header nav ul li a:hover{
		color: white;
		background: #000000;
	}
}